[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython.git
[submodule "lib/ulab"]
	path = lib/ulab
	url = https://github.com/v923z/micropython-ulab.git
