# ESP-VISION ESP32-S31-Korvo shared defaults.

# Memory
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=8192
CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# USB
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
# CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG is not set
# CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED is not set
# CONFIG_USJ_ENABLE_USB_SERIAL_JTAG is not set

# Camera

CONFIG_CAMERA_OV3660=y
CONFIG_CAMERA_OV3660_DVP_RGB565_BE_640X480_10FPS=y
CONFIG_CAMERA_OV3660_DVP_DEFAULT_FMT_RGB565_BE_640X480_10FPS=y
CONFIG_CAM_CTRL_SPI_ENABLE=n
CONFIG_ESP_VIDEO_ENABLE_DVP_VIDEO_DEVICE=y
# CONFIG_ESP_VIDEO_ENABLE_SWAP_BYTE is not set
