# Hiwonder S3 板 - Flash/分区表配置 (N16R8: 16MB Flash + 8MB OPI PSRAM)
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# 自定义分区表
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/HIWONDER_S3/partitions-16MiB-esp-vision.csv"

# PSRAM 类型 - OPI PSRAM 8MB (WROOM-N16R8 模组内部集成)
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_OPI=y
CONFIG_SPIRAM_SPEED_80M=y
